.bg{
    width:1526.4px;
    height: 589.2px;
    background: #333
}
a{
    text-decoration: none; 
    color:#999999;
}
.footer-bg{
    width:1200px;
    height: 457.2px;
    margin:0 auto;
    display: flex;
    color: #999999;
}
.footer-one{
    width: 357px;
    height: 457.2px;
}
h3{
    color:#999999;
    padding:80px 0 46px;
}
.footer-one-nav{
    display: flex;
    margin:0px;
}
.footer-one-nav>li{
    text-align: center;
}
.footer-one-nav>li>div{
    margin:0 29px 12px;
    background: url(../img/sprite/footer@2x.png);
    background-size:550px;
}
.footer-one-nav>li>.pc{
    width: 37px;
    height: 48px;
    background-position: 0px 0px;
}
.footer-one-nav>li>.pc:hover{
   
    background-position: 0px -44.5px;
}
.footer-one-nav>li>.mac{
    width: 46px;
    height: 48px;
    background-position: -78px 0px;
}
.footer-one-nav>li>.mac:hover{
   
    background-position: -78px -44.5px;
}
.footer-one-nav>li>.and{
    width: 37px;
    height: 48px;
    background-position: 381px 1.1px;
}
.footer-one-nav>li>.and:hover{
   
    background-position: 381px -42px;
}
.footer-one-nav>li>.ip{
    width: 34px;
    height: 48px;
    background-position: -251px 0px;
}
.footer-one-nav>li>.ip:hover{
   
    background-position: -251px -43px;
}
.footer-onetwo-nav{
    display: flex;
    
}
.footer-onetwo-nav>li{
    margin-right: 5px;
    margin-bottom: 12px;
    width:123px;
    text-align: center;
}

.footer-two{
   width: 304px;
   height: 457.2px;
   margin-left:140px;
}
.footer-two-nav{
    display: flex;
}
.footer-two-nav>li{
width: 99px;
height :80px;
text-align: center;
}
.footer-two-nav>li>div{
    margin:0 29px 12px;
    background: url(../img/sprite/footer@2x.png);
    background-size:550px;
}
.footer-two-nav>li>.qm{
    width: 41px;
    height: 48px;
    background-position: 217px 0px;
}
.footer-two-nav>li>.qm:hover{
   
    background-position: 217px -43px;
}
.footer-two-nav>li>.ss{
    width: 37px;
    height: 48px;
    background-position: 133px 0px;
}
.footer-two-nav>li>.ss:hover{
   
    background-position: 133px -43.5px;
}
.footer-two-nav>li>.Q{
    width: 40px;
    height: 48px;
    background-position: 43px 0px;
}
.footer-two-nav>li>.Q:hover{
   
    background-position: 43px -43px;
}
.footer-three{
    width: 300px;
    margin-left:90px;
}
.footer-three-nav{
    display: flex;
    flex-wrap:wrap;
}
.footer-three-nav>li{
    width:100px;
    height:20px;
    margin-bottom: 12px;
}
a:hover{
    color:#31c27c;
}
.footer-lest{
    width:1200px;
    height:132px;
    margin:0 auto;
    padding:24px 0;
}
.footer-lest>p{
    text-align: center;
}
.footer-lest{
    font-size:12px;
    color:#999999;
}
.footer-lest>p{
    height: 28px;
}