
.header-theme{
width: 1200px;
height: 90px;
margin:0 auto;
display:flex;
}
.header-box{
    margin:0 auto;
    display: flex;
}
a{
    text-decoration:none;
    color:#333;
    font-size:18px;
}
a:hover{
    color: #31c27c;
}
.header-one,.header-two,.header-three{
    border-bottom: 0.1px solid #79807d;
}

.header-one{
    display: flex;
    
    
}
.header-one>img{
   height:46px; 
   margin: 23px;
   
}

.header-two-one{
    display: flex;
}
.header-two-one>li>a{
    display: block;

    padding:13px 10px;    
    height:90px;
    padding:0 20px;
    line-height:90px;   
}
.header-two-a-one{
    color:#fff;
    background: #31c27c;
}
.header-two-a-one:hover{
    color:#fff;
}
/* .header-two-one>li>a:hover{
    color:#fff;
    background: #31c27c;
} */
.header-three{
    padding-left: 30px;
}
.header-three>input{
    box-sizing: border-box;
    outline:none;
    height:36px;
    width:174px;
    margin-top:25px; 
    padding:5px;
    background:transparent;
    border:0.5px solid #333;
    border-radius: 16px;
}

.header-three-login{
    font-size: 22px;
    margin-left: 20px;
   padding:0px;
   padding-right: 10px;
}
.header-three-push{
    font-size: 16px;
    background: #31c27c;
    margin:11px 15px  0;
    padding :7px;
    color: #fff;
}
.header-three-push:hover{
    background: #1e8654;
    color: #fff;
}
.header-nav{
    width: 1200px;
    display: flex;
    padding: 10px 0;
    margin:0 auto;
}
.header-nav-ul{
    display: flex;
    
}
.header-nav-ul>li>a{
    padding:20px;
    font-size: 18px;
    font-weight: lighter;
}
.header-nav-ul>li>.a1{
    color: #31c27c;
}
.header-nav>li>a:hover{
    color: #31c27c;
}
