.reg-bg{
   width:1535px;
   height:740px;
    background: url(../img/login/banner_pc.jpg);
    overflow: hidden;
    background-size:1450px;
    position: relative;
}
.reg-bg::before{
    content: "";
    display: table;
}
.reg-nav{
    width:996px;
    height:46px;
    margin: 17px auto;
    display: flex;
}
.reg-nav>h1{
    padding-top:8px;
    margin-left: 50px;
    color: #ffffff;
    font-size: 30px;
}
.title{
    display: block;
    widows: 400px;
    height:400px;
    position:absolute;
    top:200px;
    left:140px; 
    color: #ffffff;
    font-size: 70px;
    z-index: 1;
   
}
.welcome{
    position:absolute;
    top:200px;
    left:940px; 
    color: #ffffff;
    font-size: 40px;
}
.info{
    z-index: 1;
    top:240px;
    left:900px;
    width: 300px;
    height: 400px;
    position: absolute;
}
.info>input{
    box-sizing: border-box;
    outline:none;
    height:40px;
    width:300px;
    margin-top:25px; 
    padding:10px;
    background:transparent;
    border:1.5px solid #333;
    border-radius: 3px;
    color: #ffffff;
}
.info>button{
    box-sizing: border-box;
    outline:none;
    height:40px;
    width:300px;
    margin-top:25px; 
    padding:5px;
    background:#31c27c;
    border:0.5px solid #333;
    border-radius: 3px;
    cursor: pointer；
    color: #ffffff;
}
.info>button:hover{
    background: #1e8654;
    color: #fff;
}
.cop{
    width: 600px;
    height: 20px;
    color: #333;
    position: absolute;
    top:600px;
    left:850px;
}
@keyframes star{
    0%{opacity:0;transform:translate(0px,0px)}
     25%{opacity:0.75;}
    50%{opacity:1;}
    75%{opacity:0.75;} 
    100%{opacity:0.2;transform:translate(-270px,400px)}
  }
  .star{
      position: absolute;
    animation:star 1.5s both infinite linear;
   
  }
  .star-1{
    top: 330px;
    left: 120px;
      animation-delay:1s;
  }
  .star-2{
    top: 70px;
    right: 100px;
    animation-delay: 1.4s;
  }
  .star-3{
    top: 10px;
    left: 50%;
    animation-delay: 3s;
  }
  .star-4{
    top: 200px;
    left: 50%;
    animation-delay: 2.6s;
  }
  .star-5{
    top: 50px;
    left: 200px;
    animation-delay: 2s;
  }
  .star-6{
    top: 100px;
    left: 1400px;
    animation-delay: 3.4s;
  }